---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* ⧉ 右上角复制按钮 */
.code-block-wrapper {
  position: relative;
}

.highlighter-rouge {
  // background: #292c33;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1em;
  margin: 0;
}

/* 控制背景区域和圆角 */
.highlight {
  background: #292c33;
  // border-bottom-left-radius: 15px;
  // border-bottom-right-radius: 15px;
  overflow: hidden;
}

/* 控制代码文字和行号的样式 */
.highlight pre {
  margin: 0;
  padding: 0.4em 1em;
  background: transparent;
  border: none;
}

/* 苹果风格按钮 */
.code-header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 6px;
  padding: 6px 16px;
  background: #292c33;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: -0.3rem;
  position: relative;
  z-index: 10;
}

.code-header span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.code-header .red { background: #ff5f56; }
.code-header .yellow { background: #ffbd2e; }
.code-header .green { background: #27c93f; }

.copy-button {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 12px;
  background: #444;
  color: #fff;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.copy-button:hover {
  opacity: 1;
}

// ✅ 覆盖搜索图标颜色
.search__toggle .fa-search {
  color: #000000 !important;  // 替换成你想要的颜色
}
