<script>
  'use strict';

  function getCurrentTheme() {
    return document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'light';
  }

  function updateGiscusTheme(theme) {
    var iframe = document.querySelector('iframe.giscus-frame');
    if (!iframe) return;

    iframe.contentWindow.postMessage({
      giscus: {
        setConfig: {
          theme: theme || getCurrentTheme()
        }
      }
    }, 'https://giscus.app');
  }

  (function () {
    var commentContainer = document.querySelector('#giscus-comments');

    if (!commentContainer) {
      return;
    }

    var script = document.createElement('script');

    script.setAttribute('src', 'https://giscus.app/client.js');
    script.setAttribute('data-repo', '{{ site.repository | downcase }}');
    script.setAttribute('data-repo-id', '{{ site.comments.giscus.repo_id }}');
    script.setAttribute('data-category', '{{ site.comments.giscus.category_name }}');
    script.setAttribute('data-category-id', '{{ site.comments.giscus.category_id }}');
    script.setAttribute('data-mapping', '{{ site.comments.giscus.discussion_term | default: "pathname" }}');
    script.setAttribute('data-strict', '{{ site.comments.giscus.strict | default: 0 }}');
    script.setAttribute('data-reactions-enabled', '{{ site.comments.giscus.reactions_enabled | default: 1 }}');
    script.setAttribute('data-emit-metadata', '{{ site.comments.giscus.emit_metadata | default: 0 }}');
    script.setAttribute('data-input-position', '{{ site.comments.giscus.input_position | default: "top" }}');
    script.setAttribute('data-theme', getCurrentTheme());
    script.setAttribute('data-lang', '{{ site.comments.giscus.lang | default: "en" }}');
    {% if site.comments.giscus.lazy %}
    script.setAttribute('data-loading', 'lazy');
    {% endif %}
    script.setAttribute('crossorigin', 'anonymous');
    script.setAttribute('async', '');

    commentContainer.appendChild(script);

    document.addEventListener('themechange', function (event) {
      updateGiscusTheme(event.detail.theme);
    });

    var count = 0;
    var timer = setInterval(function () {
      updateGiscusTheme();
      count++;
      if (count > 20) clearInterval(timer);
    }, 500);
  })();
</script>